/* Custom Font (Google Fonts) */

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

/* General */

body {
  color: hsl(35,10%,35%);
  font-family: "Libre Baskerville", serif;
  margin: 10px 20px;
  width: 70%;
  font-size: 16px;
}

button {
  padding: 0px 20px;
  margin: 8px 0;
  border: none;
  width: 200px;
  cursor: pointer;
  background: hsl(170, 80%, 95%);
  border-radius: 3px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  color: #888;
  line-height: 36px;
  text-align: center;
  transition: all 0.5s ease;
}

button:hover {
  background: hsl(170, 65%, 50%);
  box-shadow: 0px 4px hsl(170, 35%, 50%);
  color: white;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}


/* Login */

input {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* Profile */

a:link, a:visited {
  transition: .5s;
  color: hsl(170, 55%, 30%);
}

a:hover {
  color: hsl(170, 65%, 50%);
}


h1, h2 {
  color: hsl(35,11.5%,45%);
  font-size: 1.8em;
  font-weight: normal;
  margin: .4em;
}

abbr {
  text-decoration: underline;
  text-decoration-style: dotted;
}


/* Content */

#profile header {
  text-align: center;
}

aside {
  float: left;
  margin-right: 2em;
}

#main_content p {
  margin: .5em;
}

#main_content h1 {
  text-decoration: none;
  font-style: italic;
  font-size: 1.5em;
  margin-bottom: .3em;
}


/* Calculator - Style is taken from a JS tutorial... */

/* Using box shadows to create 3D effects */
.instance {
  width: 285px;
  height: auto;

  margin: 20px auto;
  padding: 20px 20px 9px;

  background: #9dd2ea;
  background: linear-gradient(#9dd2ea, #8bceec);
  border-radius: 3px;
  box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.add_calc_btn {
  margin: 20px auto;
}

/* Top portion */
.instance header .clear {
  float: left;
}

/* Inset shadow on the screen to create indent */
.instance header .screen {
  height: 40px;
  width: 188px;

  float: right;

  padding: 0 10px;
  margin-left: 0px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);

  /* Typography */
  font-size: 17px;
  line-height: 40px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  text-align: right;
  letter-spacing: 1px;
}

/* Clear floats */
.keys, .instance header {overflow: hidden;}

/* Applying same to the keys */
.keys span, .instance header span.clear {
  float: left;
  position: relative;
  top: 0;

  cursor: pointer;

  width: 66px;
  height: 36px;

  background: white;
  border-radius: 3px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);

  margin: 0 7px 11px 0;

  color: #888;
  line-height: 36px;
  text-align: center;

  /* prevent selection of text inside keys */
  user-select: none;

  /* Smoothing out hover and active states using css3 transitions */
  transition: all 0.2s ease;
}

/* Remove right margins from operator keys */
/* style different type of keys (operators/evaluate/clear) differently */
.keys span.operator {
  background: #FFF0F5;
  margin-right: 0;
}

.keys span.eval {
  background: #f1ff92;
  box-shadow: 0px 4px #9da853;
  color: #888e5f;
}

.instance header span.clear {
  background: #ff9fa8;
  box-shadow: 0px 4px #ff7c87;
  color: white;
}

/* Some hover effects */
.keys span:hover {
  background: #9c89f6;
  box-shadow: 0px 4px #6b54d3;
  color: white;
}

.keys span.eval:hover {
  background: #abb850;
  box-shadow: 0px 4px #717a33;
  color: #ffffff;
}

.instance header span.clear:hover {
  background: #f68991;
  box-shadow: 0px 4px #d3545d;
  color: white;
}

/* Simulating "pressed" effect on active state of the keys by removing the box-shadow and moving the keys down a bit */
.keys span:active {
  box-shadow: 0px 0px #6b54d3;
  top: 4px;
}

.keys span.eval:active {
  box-shadow: 0px 0px #717a33;
  top: 4px;
}

.instance header span.clear:active {
  top: 4px;
  box-shadow: 0px 0px #d3545d;
}
