/* Custom Font (Google Fonts) */

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');


/* General */

body {
  color: hsl(35,10%,35%);
  font-family: "Libre Baskerville", serif;
  margin: 10px 20px;
  width: 70%;
  font-size: 16px;
}

a:link, a:visited {
  transition: .5s;
  color: hsl(170, 55%, 30%);
}

a:hover {
  color: hsl(170, 65%, 50%);
}


h1, h2 {
  color: hsl(35,11.5%,45%);
  font-size: 1.8em;
  font-weight: normal;
  margin: .4em;
}

abbr {
  text-decoration: underline;
  text-decoration-style: dotted;
}

/* Content */

header {
  text-align: center;
}

aside {
  float: left;
  margin-right: 2em;
}

#main_content p {
  margin: .5em;
}

#main_content h1 {
  text-decoration: none;
  font-style: italic;
  font-size: 1.5em;
  margin-bottom: .3em;
}

